.page-post {
  font-size: 16px;
  line-height: 1.8;
  word-break: break-word;
}
.page-post .title {
  font-weight: bold;
  color: #666666;
}
.page-post .subtitle {
  font-size: 14px;
  color: #999999;
}
.page-post .post > * {
  margin: 18px 0;
}
.page-post .post > iframe {
  margin: 0;
  width: 100%;
}
.page-post .post h1,
.page-post .post h2 {
  color: #666666;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d8dee4;
}
.page-post h3,
.page-post h4,
.page-post h5,
.page-post h6 {
  font-weight: bold;
}
.page-post blockquote {
  /* border-left: 4px solid #999;
  background-color: #99999933;
  padding: 9px 9px 9px 15px;
  color: #666;
  border-radius: 4px; */
  border-left: 4px solid rgb(251, 179, 96);
  background-color: rgba(251, 179, 96, 0.2);
  padding: 9px 9px 9px 15px;
  color: #666;
}
.page-post a {
  background: linear-gradient(90deg, #1f88ff, #1f88ff), linear-gradient(90deg, #1f88ff, #fc0);
  background-size: 100% 1px, 0 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: 0.2s all;
  color: #1f88ff;
  margin: 0 2px;
}
.page-post a:hover {
  background-size: 0 1px, 100% 3px;
}
.page-post strong,
.page-post b {
  color: #333;
}

.page-post img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  box-shadow: 0 0 20px #ddd;
  /* border: 1px solid #eee;
  border-radius: 4px; */
}
.page-post img[alt='line'] {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-shadow: none;
  margin: 0 4px;
  line-height: 1;
}
.page-post pre {
  font-size: 14px;
  padding: 10px;
  overflow: auto;
  max-height: 610px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.6;
  border: 2px solid #31353a;
}
.page-post code {
  font-size: 14px;
  background-color: #1f88ff0d;
  color: #1f88ff;
  word-break: break-word;
  padding: 3px 5px;
  margin: 0 4px;
  border-radius: 5px;
  transition: all 500ms ease;
  font-weight: bold;
}
.page-post pre code {
  font-size: 14px;
  font-weight: normal;
  background-color: transparent !important;
  word-break: keep-all;
  padding: 0;
  margin: 0;
  border-radius: unset;
  color: inherit;
}
.page-post hr {
  border: none;
  height: 3px;
  background-color: #eeeeee;
}
.page-post table {
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
}
.page-post tr {
  border-bottom: 1px solid #dddddd;
}
.page-post th {
  font-weight: bold;
}
.page-post th,
.page-post td {
  padding: 5px 10px;
  text-align: left;
}
.page-post table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.page-post .table-container {
  overflow: auto;
  margin: 14px 0;
  border: 1px solid #dddddd;
}
.page-post .table-container table {
  margin: 0;
  border: 0;
}
.page-post .table-container table tbody tr:last-child {
  border-bottom: 0;
}
@media screen and (max-width: 560px) {
  .page-post {
    font-size: 14px;
  }
  .page-post pre code {
    font-size: 12px;
  }
  .page-post .post > * {
    margin: 15px 0;
  }
}

/* 目录悬浮在右边 */

.page-post .post ul {
  margin-left: 16px;
}
.page-post .post ol {
  margin-left: 23px;
}
.page-post ul li {
  list-style: inside disc;
}
.page-post ol li {
  list-style: inside decimal;
}

#markdown-toc {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  font-size: 14px;
}

#markdown-toc li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1300px) {
  #markdown-toc {
    display: none;
  }
}
